html {
	font-size: 17px;
}

body{
	font:1.1em "Open Sans", sans-serif;
	background:#fbfbfb;
}

a {
	text-decoration: none;
	color:inherit;
}


a.evitement {
	display : inline-block ;
	color : #555 ;
	background : #fff ;
	padding : .5em ;
	position : absolute ;
	left : -99999px ;
	z-index : 100 ;
}
    
a.evitement:focus {
	left: 0;
}

li {
	display: block;
}

.pointer {
	cursor: pointer;
}

.hors-ecran {
	float:left;
	width:0px;
	height:3px;
	overflow: hidden;
}




/* BARRE DE NAV PRINCIPALE */

nav.nav_principal {
	position: fixed;
	z-index:102;
	width:100%;
	top:0;
	height:60px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
	min-width: 600px;
}

nav.nav_principal ul {
	padding-left:60px;
	padding-right:60px;
}

nav.nav_principal ul a {
	text-decoration: none;
	color:inherit;
	padding:18px 0 18px 0;
}

nav.nav_principal ul li {
	display: inline-block;
	padding-bottom:18px;
	padding-top:18px;
	font-weight: 600;
	color:#c1c1c1;
}

nav.nav_principal ul li:nth-child(2) {
	margin-left:60px;
}

nav.nav_principal ul li.active {
	color:black;
	border-bottom:3px solid black;
	padding-bottom:15px;
}

.preferences {
	position: relative;
	float:right;
}



/* BARRE DE NAV SECONDAIRE */

nav.nav_secondaire {
	position: fixed;
	width:100%;
	height:60px;
	z-index:100;
	top:60px;
	background-color: white;
	min-width: 600px;
	padding-left:60px;
	padding-right:60px;
}


nav.nav_secondaire svg {
	display: inline-block;
	position: relative;
	top:15px;
	width:35px;
	height:35px;
	margin-left:-5px;
}

nav.nav_secondaire svg:nth-child(2) {
	margin-left:20px;
}


form#nav_recherche {
	display: inline-block;
	border-bottom: 1px solid #c1c1c1;
	margin-left:40px;
	height:35px;
}

input#menu_recherche {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
}

input#menu_recherche::placeholder {
	font-size: 0.9rem;
	font-weight: 300;
	color:#c1c1c1;
}
	
#nav_recherche #lancer{
	position: relative;
	width:35px;
	vertical-align: top;
}


/* PAGE "MES LIVRES" EN GRILLE	*/


section {
	position: relative;
	min-width: 600px;
}


main {
	position: relative;
	margin-top:120px;
	left:0;
	height: auto;
	width: 100%;
	padding-left:60px;
	padding-right:60px;
}

h1 {
	display: block;
	position: relative;
	padding-top:40px;
	padding-bottom: 35px;
	font-weight: 700;
}

.legende {
	width: 100%;
	position: relative;
}

.legende p.titre_livre {
	position: relative;
	padding-top:10px;
	width: calc(100% - 40px);
	font-size: 0.7rem;
	font-weight: 600;
}

.legende p.auteur_livre {
	position: relative;
	width: calc(100% - 40px);
	font-size: 0.7rem;
	font-weight: 300;
	color:#c1c1c1;
}

.icon_voirplus {
	position: absolute;
	top:10px;
	right:0;
	width:20px;
	height:40px;
}

.voir_plus {
	display: block;
	position: absolute;
	top:0;
	margin-top:35px;
	right:0;
	border-radius: 2px;
	border:1px solid black;
	font-size: 0.8rem;
	padding:2px 8px 2px 8px;
}

.voir_plus img {
	width: 15px;
	height:15px;
	vertical-align: top;
	margin-top:2px;
	margin-left:5px;
}

.section_titre { 
	display: block;
	position: relative;
	padding-top:40px;
	padding-bottom: 35px;
	font-weight: 700;
}

.section_titre img {
	position: relative;
	width:25px;
	vertical-align: top;
	height:25px;
}

form#tag_recherche {
	border-bottom: 1px solid #c1c1c1;
	margin-left:0;
	height:35px;
	margin-bottom:50px;
	display: none;
}

input#tag_champs {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
}

input#tag_champs::placeholder {
	font-size: 0.9rem;
	font-weight: 300;
	color:#c1c1c1;
}
	
#tag_recherche #lancer{
	position: relative;
	width:35px;
	color: #c1c1c1;
	vertical-align: top;
}



/* PAGE "MES LIVRES" EN LISTE */

.bloc_livre_list .icon_voirplus {
	top:2px !important;
}

.bloc_livre_list {
	display: block;
	width: calc(100% + 120px);
	margin-left:-60px;
	height:40px;
	padding: 10px 50px 10px 50px;
	min-width: 600px;
	font-size: 0.8rem;
}

.bloc_livre_list:nth-child(odd){
	background-color: #f3f3f3;
}

.bloc_livre_list .icon_voirplus {
	position: relative;
	float:left;
	display: inline-block;
	width:20px;
	height:30px;
	margin:-5px 10px 0 10px;
}

.bloc_livre_list p.titre_livre {
	display: inline-block;
	font-weight: 600;
}

.bloc_livre_list p.auteur_livre {
	display: inline-block;
}

.bloc_livre_list p.infos_sup {
	display: inline-block;
	width:15%;
	color:grey;
}

.list_titre_livre {
	display: inline-block;
	width: calc(70% - 50px);
}

.titre_selection {
	display: inline-block;
	position: relative;
	padding-top:40px;
	padding-bottom: 35px;
	font-weight: 700;
}

.icon_edit {
	position: relative;
	top:0;
	height:30px;
	width:20px;
	margin:0;
	margin-left:10px;
	display: inline-block;
	vertical-align: top;
	margin-top:40px;
}


/* PAGE CATALOGUES */

main#catalogue {
	margin-top:100px;
}

.flux_ajouter {
	display: block;
	position: relative;
	padding-top:0;
	padding-bottom: 10px;
	font-weight: 700;
}

.flux_ajouter svg {
	position: relative;
	width:25px;
	vertical-align: top;
	height:25px;
}

form#flux_recherche {
	border-bottom: 1px solid #c1c1c1;
	margin-left:0;
	height:35px;
	margin-bottom:50px;
	display: inline-block;
}

.flux_container {
   	display: flex;
   	width:100%;
  	flex-flow: row wrap;
  	height: auto;
  	justify-content: space-between;
}

.flux_container a { 
	text-decoration: none;
}

.bloc_flux {
	width: 300px; 
  	height: 300px;
  	margin-bottom:30px;
  	background-color: grey;
}

.bloc_flux p.flux_titre { 
	position: relative;
	top:50%;
	text-align: center;
	color:white;
	font-size: 1.5rem;
	transform: translateX(0%) translateY(-50%);
	-webkit-transform: translateX(0%) translateY(-50%);
}


/* PAGE FLUX */

form#nav_recherche_flux {
	display: inline-block;
	border-bottom: 1px solid #c1c1c1;
	margin-left:0px;
	height:35px;
	margin-top:8px;
}

input#menu_recherche {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
}

input#menu_recherche::placeholder {
	font-size: 0.9rem;
	font-weight: 300;
	color:#c1c1c1;
}
	
#nav_recherche_flux #lancer{
	position: relative;
	width:35px;
	vertical-align: top;
}


.fil_ariane { 
	position: relative;
	padding:25px 0px 25px 0px;
	vertical-align: top;
}


.fil_ariane_icon img { 
	position: relative;
	margin:0px 20px 0px 0px;
	vertical-align: top;
}

.fil_ariane a { 
	text-decoration: none;
}


span.fil_active {
	font-weight: 700;
}

section#flux_liste {
	width: calc(100% + 120px);
	margin-left:-60px;
}

#flux_liste {
	border-top:1px solid #c1c1c1;
}

#flux_liste li {
	padding:20px 60px 20px 60px;
	border-bottom: 1px solid #c1c1c1;
}

#flux_liste span.flux_title {
	font-weight: 600;
}

#flux_liste span {
	display: inline-block;
}

#flux_liste span.flux_subtitle {
	color:grey;
	font-size: 0.8rem;
	margin-left:10px;
}

ul.content_flux {
	display: flex;
   	width:100%;
  	flex-flow: row wrap;
  	height: auto;
	border:none !important;
	margin-top:30px;
}

.content_flux li {
	padding:0 !important;
	border:none !important;
	display: inline-block;
}

.bloc_flux_couvertures {
	width: 150px; 
  	height: auto;
  	margin-right:20px;
  	margin-bottom:10px;
}

.content_flux li img {
	width: 100%;
}


.flux_entree img {
	position: relative;
	width:15px;
	vertical-align: baseline;
}


.voir_tout {
	display: block;
	position: relative;
	margin-top:0px;
	float:right;
	right:0;
	border-radius: 2px;
	border:1px solid black;
	font-size: 0.8rem;
	padding:2px 8px 2px 8px;
}

.voir_tout img {
	width: 15px;
	height:15px;
	vertical-align: top;
	margin-top:2px;
	margin-left:5px;
}

.noborder {
	border:0 !important;
}

.flux_entree select {
	float:right;
	background-color: white;
	border-radius: none;
	outline:none;
	width:180px;
	text-align: center;
	text-align-last: center;
	font-size: 0.8rem;
	height:30px;
}



/* PAGE PRÉFÉRENCES */

nav.nav_secondaire_pref {
	position: fixed;
	width:100%;
	height:60px;
	z-index:100;
	top:60px;
	background-color: #e5e5e5;
	min-width: 700px;
	padding-left:0;
	padding-right:0;
}

.nav_secondaire_pref a {
	width:100%;
	padding:20px 30px 20px 30px;
}

.nav_secondaire_pref ul li {
	display: inline-block;
	padding:20px 0 20px 0;
	font-size: 0.9rem;
	border-right:1px solid #c1c1c1;
}

.nav_secondaire_pref ul li.active {
	background-color: #4A8FE2;
	color:white;
}

#draggable_list { 
	width: 50%;
	list-style-type: none; 
	font-size: 0.8rem;
	min-width: 400px;
	margin-bottom: 20px;
}

#draggable_list li span {
	font-size: 0.8rem;
	color:grey;
	margin-left:8px;
}

#draggable_list li img.icon_draggable { 
	display: inline-block;
	vertical-align: top;
}

#draggable_list li img.icon_delete { 
	display: inline-block;
	vertical-align: top;
	float:right;
}

#draggable_list li { 
	cursor: move;
	margin: 0 3px 3px 3px; 
	padding: 5px 10px 5px 10px; 
	font-size: 1.25em; 
	height: auto; 
	background: #e5e5e5;
}


#draggable_list .up, ul .down { float: left; }
#draggable_list .up:before { content: "\f077"; }
#draggable_list .down:before { content: "\f078"; }


form#tag_ajout {
	margin-left:0;
	height:35px;
	margin-bottom:0;
	display: inline-block;
}

input.pref_tag_champs {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	border-bottom: 1px solid #c1c1c1;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
	margin-right:30px;
}

input.pref_tag_champs::placeholder {
	font-size: 0.9rem;
	font-weight: 300;
	color:#c1c1c1;
}

	
#tag_ajout img{
	position: absolute;
	width:35px;
	left:320px;
	color: #c1c1c1;
	vertical-align: top;
}

#tag_renommer {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
	margin-left:100px;
}


#tag_ajout input[type="submit"]{
	cursor:pointer;
	background-color: white;
	border-radius: 5px;
	font-size: 0.8rem;
	padding: 5px 30px 5px 30px;
	border:1px solid #c1c1c1;
}

#theme_list { 
	width: 50%;
	list-style-type: none; 
	font-size: 0.8rem;
	min-width: 400px;
	margin-bottom: 20px;
}


#theme_list li { 
	margin: 0 3px 3px 3px; 
	padding: 5px 10px 5px 10px; 
	font-size: 1.25em; 
	height: auto; 
	background: #e5e5e5;
}

#theme_list img {
	float:right;
}

#langues_list {
	width: 30%;
	list-style-type: none; 
	font-size: 0.8rem;
	min-width: 300px;
	margin-bottom: 20px;
}

#langues_list li { 
	margin: 0 3px 3px 3px; 
	padding: 5px 10px 5px 10px; 
	font-size: 1.25em; 
	height: auto; 
	background: #e5e5e5;
	cursor: pointer;
}

#langues_list .active {
	background-color: grey;
	color:white;
}