html {
	font-size: 17px;
}

body{
	font:1.1em "Open Sans", sans-serif;
	background:#fbfbfb;
}

a {
	text-decoration: none;
	color:inherit;
}


a.evitement {
	display : inline-block ;
	color : #555 ;
	background : #fff ;
	padding : .5em ;
	position : absolute ;
	left : -99999px ;
	z-index : 100 ;
}
    
a.evitement:focus {
	left: 0;
}

li {
	display: block;
}

.pointer {
	cursor: pointer;
}

.hors-ecran {
	float:left;
	width:0px;
	height:3px;
	overflow: hidden;
}




/* BARRE DE NAV PRINCIPALE */

nav.nav_principal {
	position: fixed;
	z-index:102;
	width:100%;
	top:0;
	padding-top:0;
	padding-bottom:0;
	height:auto;
	background-color: white;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
	min-width: 600px;
}

nav.nav_principal ul {
	padding-left:60px;
	padding-right:60px;
}

nav.nav_principal ul a {
	text-decoration: none;
	color:inherit;
	padding:18px 0 18px 0;
}

nav.nav_principal ul li {
	display: inline-block;
	padding-bottom:18px;
	padding-top:18px;
	font-weight: 600;
	color:#c1c1c1;
}

nav.nav_principal ul li:nth-child(2) {
	margin-left:60px;
}

nav.nav_principal ul li.active {
	color:black;
	border-bottom:3px solid black;
	padding-bottom:15px;
}

.preferences {
	position: relative;
	float:right;
}



/* BARRE DE NAV SECONDAIRE */

nav.nav_secondaire {
	position: fixed;
	width:100%;
	height:auto;
	padding-top:0;
	padding-bottom:10px;
	z-index:100;
	top:60px;
	background-color: white;
	min-width: 600px;
	padding-left:60px;
	padding-right:60px;
}


nav.nav_secondaire svg {
	display: inline-block;
	position: relative;
	top:15px;
	width:35px;
	height:35px;
	margin-left:-5px;
}

nav.nav_secondaire svg:nth-child(2) {
	margin-left:20px;
}


form#nav_recherche {
	display: inline-block;
	border-bottom: 1px solid #c1c1c1;
	margin-left:40px;
	height:auto;
}

input#menu_recherche {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
}

input#menu_recherche::placeholder {
	font-size: 0.9rem;
	font-weight: 300;
	color:#c1c1c1;
}
	
#nav_recherche #lancer{
	position: relative;
	width:35px;
	vertical-align: top;
}



/* PAGE "MES LIVRES" EN GRILLE	*/


section {
	position: relative;
	min-width: 600px;
}


main {
	position: relative;
	margin-top:120px;
	left:0;
	height: auto;
	width: 100%;
	padding-left:60px;
	padding-right:60px;
}

h1 {
	display: block;
	position: relative;
	padding-top:40px;
	padding-bottom: 35px;
	font-weight: 700;
}

.legende {
	width: 100%;
	position: relative;
}

.legende p.titre_livre {
	position: relative;
	padding-top:10px;
	width: calc(100% - 40px);
	font-size: 0.7rem;
	font-weight: 600;
}

.legende p.auteur_livre {
	position: relative;
	width: calc(100% - 40px);
	font-size: 0.7rem;
	font-weight: 300;
	color:#c1c1c1;
}

.icon_voirplus {
	position: absolute;
	top:10px;
	right:0;
	width:20px;
	height:40px;
}

.voir_plus {
	display: block;
	position: absolute;
	top:0;
	margin-top:35px;
	right:0;
	border-radius: 2px;
	border:1px solid black;
	font-size: 0.8rem;
	padding:2px 8px 2px 8px;
}

.voir_plus img {
	width: 15px;
	height:15px;
	vertical-align: top;
	margin-top:2px;
	margin-left:5px;
}

.section_titre { 
	display: block;
	position: relative;
	padding-top:40px;
	padding-bottom: 35px;
	font-weight: 700;
}

.section_titre img {
	position: relative;
	width:25px;
	vertical-align: top;
	height:25px;
}

form#tag_recherche {
	border-bottom: 1px solid #c1c1c1;
	margin-left:0;
	height:auto;
	margin-bottom:50px;
	display: none;
}

input#tag_champs {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
}

input#tag_champs::placeholder {
	font-size: 0.9rem;
	font-weight: 300;
	color:#c1c1c1;
}
	
#tag_recherche #lancer{
	position: relative;
	width:35px;
	color: #c1c1c1;
	vertical-align: top;
}

.bloc_livre button {
	cursor: pointer;
	z-index:100;
}


.c-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  width:100%;
  left:0;
  height:100vh;
  display: flex;
  padding: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0,0,0,0.8);
  transition: .2s;
  min-width: 700px;
}

.c-dialog__box {
  display: flex;
  width:90%;
  margin-left:5%;
  margin-top:100px;
  margin-bottom:20px;
  padding: 60px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  align-content: flex-start;
}

.c-dialog__box button {
	position: absolute;
	top:110px;
	right:calc(5% + 10px);
	height:50px;
	float:right;
	display: block;
	width:50px;
	cursor: pointer;
}

.c-dialog__box button img {
	width: 80%;
}

.dialog_left {
	position: relative;
	width:33%;
	height:auto;
}

.dialog_left img {
	width: 100%;
}

.dialog_left .liens li {
	font-size: 0.9rem;
	font-weight: 600;
	margin-top:3px;
	margin-bottom:3px;
}

.dialog_left .liens li img {
	display: inline-block;
	vertical-align: top;
	width:20px;
	height:20px;
	margin-right:3px;
}

.dialog_left a.lire {
	display: block;
	text-align: center;
	padding:5px 10px 5px 10px;
	font-size: 0.9rem;
	margin-top:10px;
	border:1px solid #c1c1c1;
	margin-bottom: 20px;
}

.dialog_right {
	width:77%;
	padding:0 30px 0 30px;
}

.dialog_right h2 {
	font-weight: 600;
}

.c-dialog[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
}

.dialog_right p {
	margin-top:20px;
	margin-bottom:20px;
	font-weight: 300;
	font-size: 0.9rem;
}

.dialog_right span {
	font-weight: 600;
}

.dialog_right .tags {
	font-size: 0.9rem;
}

.dialog_right .tags span {
	font-weight: 600;
}

.dialog_right .tags ul {
	display: inline-block;
}

.dialog_right .tags li {
	display: inline-block;
	background-color: #E7F1FB;
	padding:1px 5px 1px 5px;
	font-size: 0.8rem;
	border-radius: 3px;
	border:1px solid #67A3E0;
	color: #67A3E0;
	margin-left:10px;
}

.dialog_right .tags li img {
	display: inline-block;
	width:15px;
	height:15px;
	margin-top:3px;
	vertical-align: top;
}

.dialog_right h3 {
	font-weight: 600;
	margin-top:30px;
}

.dialog_right form#flux_recherche {
	margin-bottom:0;
}




/* PAGE "MES LIVRES" EN LISTE */


.bloc_livre_list {
	display: block;
	width: calc(100% + 120px);
	margin-left:-60px;
	height:40px;
	padding: 10px 50px 10px 50px;
	min-width: 600px;
	font-size: 0.8rem;
}

.bloc_livre_list button {
	float:left;
}

.bloc_livre_list:nth-child(odd){
	background-color: #f3f3f3;
}

.bloc_livre_list .icon_voirplus {
	position: relative;
	float:left;
	display: inline-block;
	width:20px;
	height:30px;
	margin:-5px 10px 0 10px;
	top:2px !important;
}

.bloc_livre_list p.titre_livre {
	display: inline-block;
	font-weight: 600;
}

.bloc_livre_list p.auteur_livre {
	display: inline-block;
}

.bloc_livre_list p.infos_sup {
	display: inline-block;
	width:15%;
	color:grey;
}

.list_titre_livre {
	display: inline-block;
	width: calc(70% - 50px);
}

.titre_selection {
	display: inline-block;
	position: relative;
	padding-top:40px;
	padding-bottom: 35px;
	font-weight: 700;
}

.icon_edit {
	position: relative;
	top:0;
	height:30px;
	width:20px;
	margin:0;
	margin-left:10px;
	display: inline-block;
	vertical-align: top;
	margin-top:40px;
}


/* PAGE CATALOGUES */

main#catalogue {
	margin-top:100px;
}

.flux_ajouter {
	display: block;
	position: relative;
	padding-top:0;
	padding-bottom: 10px;
	font-weight: 700;
}

.flux_ajouter svg {
	position: relative;
	width:25px;
	vertical-align: top;
	height:25px;
}

form#flux_recherche {
	border-bottom: 1px solid #c1c1c1;
	margin-left:0;
	height:auto;
	margin-bottom:50px;
	display: inline-block;
}

.flux_container {
   	display: flex;
   	width:100%;
  	flex-flow: row wrap;
  	height: auto;
  	justify-content: space-between;
}

.flux_container a { 
	text-decoration: none;
}

.bloc_flux {
	width: 300px; 
  	height: 300px;
  	margin-bottom:30px;
  	background-color: grey;
}

.bloc_flux p.flux_titre { 
	position: relative;
	top:50%;
	text-align: center;
	color:white;
	font-size: 1.5rem;
	transform: translateX(0%) translateY(-50%);
	-webkit-transform: translateX(0%) translateY(-50%);
}


/* PAGE FLUX */

form#nav_recherche_flux {
	display: inline-block;
	border-bottom: 1px solid #c1c1c1;
	margin-left:0px;
	height:auto;
	margin-top:8px;
}

input#menu_recherche {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
}

input#menu_recherche::placeholder {
	font-size: 0.9rem;
	font-weight: 300;
	color:#c1c1c1;
}
	
#nav_recherche_flux #lancer{
	position: relative;
	width:35px;
	vertical-align: top;
}


.fil_ariane { 
	position: relative;
	padding:25px 0px 25px 0px;
	vertical-align: top;
}


.fil_ariane_icon img { 
	position: relative;
	margin:0px 20px 0px 0px;
	vertical-align: top;
}

.fil_ariane a { 
	text-decoration: none;
}


span.fil_active {
	font-weight: 700;
}

section#flux_liste {
	width: calc(100% + 120px);
	margin-left:-60px;
}

#flux_liste {
	border-top:1px solid #c1c1c1;
}

#flux_liste li {
	padding:20px 60px 20px 60px;
	border-bottom: 1px solid #c1c1c1;
}

#flux_liste span.flux_title {
	font-weight: 600;
}

#flux_liste span {
	display: inline-block;
}

#flux_liste span.flux_subtitle {
	color:grey;
	font-size: 0.8rem;
	margin-left:10px;
}

ul.content_flux {
	display: flex;
   	width:100%;
  	flex-flow: row wrap;
  	height: auto;
	border:none !important;
	margin-top:30px;
}

.content_flux li {
	padding:0 !important;
	border:none !important;
	display: inline-block;
}

.bloc_flux_couvertures {
	width: 150px; 
  	height: auto;
  	margin-right:20px;
  	margin-bottom:10px;
}

.bloc_flux_couvertures .legende button {
	position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 40px;
}

.bloc_flux_couvertures .legende button svg{
	top:10px;
}

.content_flux li img {
	width: 100%;
}


.flux_entree img {
	position: relative;
	width:15px;
	vertical-align: baseline;
}


.voir_tout {
	display: block;
	position: relative;
	margin-top:0px;
	float:right;
	right:0;
	border-radius: 2px;
	border:1px solid black;
	font-size: 0.8rem;
	padding:2px 8px 2px 8px;
}

.voir_tout img {
	width: 15px;
	height:15px;
	vertical-align: top;
	margin-top:2px;
	margin-left:5px;
}

.noborder {
	border:0 !important;
}

.flux_entree select {
	float:right;
	background-color: white;
	border-radius: none;
	outline:none;
	width:180px;
	text-align: center;
	text-align-last: center;
	font-size: 0.8rem;
	height:30px;
}



/* PAGE PRÉFÉRENCES */

nav.nav_secondaire_pref {
	position: fixed;
	width:100%;
	height:auto;
	z-index:100;
	top:60px;
	background-color: #EDEDED;
	min-width: 700px;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}

.nav_secondaire_pref a {
	width:100%;
	padding:20px 30px 20px 30px;
}

.nav_secondaire_pref ul li {
	display: inline-block;
	padding:20px 0 20px 0;
	font-size: 0.9rem;
	border-right:1px solid #c1c1c1;
}

.nav_secondaire_pref ul li.active {
	background-color: #4A8FE2;
	color:white;
}

#draggable_list { 
	width: 50%;
	list-style-type: none; 
	font-size: 0.8rem;
	min-width: 400px;
	margin-bottom: 20px;
}

#draggable_list li span {
	font-size: 0.8rem;
	color:grey;
	margin-left:8px;
}

#draggable_list li img.icon_draggable { 
	display: inline-block;
	vertical-align: top;
}

#draggable_list li img.icon_delete { 
	display: inline-block;
	vertical-align: top;
	float:right;
}

#draggable_list li { 
	cursor: move;
	margin: 0 3px 3px 3px; 
	padding: 5px 10px 5px 10px; 
	font-size: 1.25em; 
	height: auto; 
	background: #e5e5e5;
}


#draggable_list .up, ul .down { float: left; }
#draggable_list .up:before { content: "\f077"; }
#draggable_list .down:before { content: "\f078"; }


form#tag_ajout {
	margin-left:0;
	height:auto;
	margin-bottom:0;
	display: inline-block;
}

input.pref_tag_champs {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	border-bottom: 1px solid #c1c1c1;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
	margin-right:30px;
}

input.pref_tag_champs::placeholder {
	font-size: 0.9rem;
	font-weight: 300;
	color:#c1c1c1;
}

	
#tag_ajout img{
	position: absolute;
	width:35px;
	left:320px;
	color: #c1c1c1;
	vertical-align: top;
}

#tag_renommer {
	position: relative;
	width:300px;
	border-radius: 0;
	border:none;
	height:35px;
	outline: inherit;
	background-color: transparent;
	color:black;
	font-size: 0.9rem;
	margin-left:100px;
}


#tag_ajout input[type="submit"]{
	cursor:pointer;
	background-color: white;
	border-radius: 5px;
	font-size: 0.8rem;
	padding: 5px 30px 5px 30px;
	border:1px solid #c1c1c1;
}

#theme_list { 
	width: 50%;
	list-style-type: none; 
	font-size: 0.8rem;
	min-width: 400px;
	margin-bottom: 20px;
}


#theme_list li { 
	margin: 0 3px 3px 3px; 
	padding: 5px 10px 5px 10px; 
	font-size: 1.25em; 
	height: auto; 
	background: #e5e5e5;
}

#theme_list img {
	float:right;
}

#langues_list {
	width: 30%;
	list-style-type: none; 
	font-size: 0.8rem;
	min-width: 300px;
	margin-bottom: 20px;
}

#langues_list li { 
	margin: 0 3px 3px 3px; 
	padding: 5px 10px 5px 10px; 
	font-size: 1.25em; 
	height: auto; 
	background: #e5e5e5;
	cursor: pointer;
}

#langues_list .active {
	background-color: grey;
	color:white;
}

#ariane_theme {
	background-color: #F8F8F8;
	height:170px;
	width: calc(100% + 120px);
	margin-left:-60px;
	padding: 10px 60px 10px 60px;
	border-bottom: 1px solid #e5e5e5;
	min-width: 700px;
}

#tag_ajout label {
	font-size: 0.9rem;
}

#lecture {
	width:calc(100% + 120px);
	margin-left:-60px;
	display: flex;
}

.fenetre_lecture {
	background-color: white;
	width:60%;
	height:100vh;
}

.lecture_parametres { 
	width: 40%;
	border-left: 1px solid #e5e5e5;
}


#lecture_parametres_list li {
	padding:20px 20px 20px 20px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 0.9rem;
	font-weight: 600;
	background-color: white;
	cursor: pointer;
}

.onglet_content {
	display: none;
	position: relative;
	width:100%;
	background-color: #F8F8F8;
}

.ligne_onglet_content {
	position: relative;
	width:100%;
	height:auto;
	padding:20px;
	border-bottom: 1px solid #e5e5e5;
}

.ligne_onglet_content label, .ligne_onglet_content .sous-titre {
	display: block;
	font-size: 0.9rem;
	font-weight: 600;
}

.indicateur_slider {
	position: relative;
	vertical-align: middle;
	color:#6B6B6B;
}

.onglet_centrer {
	position: relative;
	text-align: center;
}


input[type=range] {
	position: relative;
  -webkit-appearance: none;
  width: 50%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #C0C0C0;
}
input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #6B6B6B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #C0C0C0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #C0C0C0;
}
input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #6B6B6B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.ligne_onglet_content select {
	background-color: white;
	border-radius: none;
	outline:none;
	width:40%;
	text-align: center;
	text-align-last: center;
	font-size: 0.8rem;
	height:30px;
}

.fenetre_lecture {
	height:auto;
	padding:50px;
	font-size:12pt;
	line-height: auto;
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	transition : all 0.1s;
	-webkit-transition : all 0.1s;
	text-align: justify;
    text-justify: auto;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

#option_defile, #option_pagine{
	background-color: red;
	width:30px;
	height:30px;
	display: inline-block;
}

